<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap in action</title>
</head>
<body>
<footer class="blog-footer" data-th-fragment="footer">
    <p>
        @2019&nbsp;这是底部 <a href="#"></a>
    </p>
    <!-- <script src="../../js/jquery-3.1.1.min.js"></script>

    <script src="../../js/bootstrap.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery
        || document
            .write('<script src="../../js/vendor/jquery.min.js"><\/script>')
    </script>
    <script
            src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../js/ie10-viewport-bug-workaround.js"></script>
    <div sec:authorize="isAuthenticated()">
        <script>
            function doPost() {  // 登出函数
                var myForm = document.createElement("form");
                myForm.method = "post";
                myForm.action = "/logout";
                document.body.appendChild(myForm);
                myForm.submit();
                document.body.removeChild(myForm);  // 提交后移除创建的form
            }
        </script>
    </div>
</footer>
</body>
</html>